
{% load static %}




    <div class="col-lg-6">
        <div class="row g-3">
            <div class="col-6 text-end">

                <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="{{ nosotros_derecha.imagen_uno.url }}" alt="">
                <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="{{ nosotros_derecha.imagen_dos.url }}" alt="">

            </div>

            <div class="col-6">

                <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="{{ nosotros_derecha.imagen_tres.url }}" alt="">
                <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="{{ nosotros_derecha.imagen_cuatro.url }}" alt="">

            </div>
        </div>
    </div>
    