{% extends 'base2.html' %}
{% load static %}
{% block title %}
Nosotros
{% endblock title %}

{% block titulo %}
    Nosotros
{% endblock titulo %}

{% block contacto %}
<!-- About Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            {% for n in nosotros  %}
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-end">
            
                            <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="{{ n.imagen_uno.url }}" alt="">
                            {% comment %} <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="{{ nosotros.imagen_dos.url }}" alt="">
            
                        </div>
            
                        <div class="col-6">
            
                            <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="{{ nosotros.imagen_tres.url }}" alt="">
                            <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="{{ nosotros.imagen_cuatro.url }}" alt=""> {% endcomment %}
            
                        </div>
                    </div>
                </div>


            



                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="section-title">
                        {% comment %} <p class="fs-5 fw-medium fst-italic text-primary">Nosotros</p> {% endcomment %}
                        <h1 class="display-6"></h1>
                    </div>
                    <div class="row g-3 mb-4">
                        <div class="col-sm-4">
                            <img class="img-fluid bg-white w-100" src="{{ n.image.url }}" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h5>{{ n.title }}</h5>
                            <p class="mb-0">{{ n.description }}</p>
                        </div>
                    </div>
                    <!-- <div class="border-top mb-4"></div>
                    <div class="row g-3">
                        <div class="col-sm-8">
                            <h5>Daily use of a cup of tea is good for your health</h5>
                            <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit</p>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid bg-white w-100" src="{% static 'img/about-6.jpg' %}" alt="">
                        </div>
                    </div> -->
                </div>

            {% endfor %}

        </div>
    </div>
</div>
<!-- About End -->
{% endblock contacto %}